name: Build and deploy Python app to Azure Web App - aiexamportal

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Create virtual environment and install dependencies (LOCAL BUILD)
        run: |
          python -m venv antenv
          source antenv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Prepare artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            .
            !antenv/


  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F594FC9CDB8D48CABB5F9D99E5440A0C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E8BC716CDAB94E9891BA41ACF37B1C0F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_DB1C79DF3E244B1FA85D0E80418CB6CD }}

      - name: Stop ongoing Azure deployments
        run: az webapp stop --name aiexamportal --resource-group <YOUR_RESOURCE_GROUP>

      - name: Wait for SCM to fully stop
        run: sleep 10

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'aiexamportal'
          slot-name: 'Production'

      - name: Start Azure App
        run: az webapp start --name aiexamportal --resource-group <YOUR_RESOURCE_GROUP>
